.new_color_1 {
	background-color: #854fff !important;
    border-color: #854fff !important;
    color: #fff !important;
}

.new_color_2 {
	background-color: #e85347 !important;
    border-color: #e85347 !important;
    color: #fff !important;
}

.new_color_3 {
    background-color: #ffebf3 !important;
    border-color: #ffebf3 !important;
    color: #ff63a5 !important;
}

.new_color_4 {
	background-color: #fce9e7 !important;
    border-color: #fce9e7 !important;
    color: #e85347 !important;
}

.new_color_5 {
    background-color: #1ee0ac !important;
    border-color: #1ee0ac !important;
    color: #fff !important;
}

.new_color_6 {
	    background-color: #dff7fb !important;
    border-color: #dff7fb !important;
    color: #09c2de !important
}

.new_color_7 {
    background-color: #efe8ff !important;
    border-color: #efe8ff !important;
    color: #854fff !important;
}

.new_color_8 {
	background-color: #fef6e0 !important;
    border-color: #fef6e0 !important;
    color: #f4bd0e !important;
}

.new_color_9 {
	    background-color: #09c2de !important;
    border-color: #09c2de !important;
    color: #fff !important;
}

